# This is a reference copy
# The file being executed lives at /etc/systemd/system/

[Unit]
Description=Allow user to modify keyboard brightness
After=sys-kernel-debug.mount
After=systemd-sysctl.service
After=slim.service
 
[Service]
Type=oneshot
ExecStart=/usr/bin/chmod 666 /sys/devices/platform/samsung/leds/samsung::kbd_backlight/brightness
 
[Install]
WantedBy=multi-user.target